<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>registercontroller</servlet-name>
  	<display-name>registercontroller</display-name>
  	<description></description>
  	<servlet-class>com.controller.registercontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Registercontroller</servlet-name>
  	<display-name>Registercontroller</display-name>
  	<description></description>
  	<servlet-class>com.controller.registercontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logincontroller</servlet-name>
  	<display-name>logincontroller</display-name>
  	<description></description>
  	<servlet-class>com.controller.logincontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookAdd</servlet-name>
  	<display-name>BookAdd</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.BookAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editbookcontroller</servlet-name>
  	<display-name>editbookcontroller</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.editbookcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletecontroller</servlet-name>
  	<display-name>deletecontroller</display-name>
  	<description></description>
  	<servlet-class>com.admin.controller.deletecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutcontroller</servlet-name>
  	<display-name>logoutcontroller</display-name>
  	<description></description>
  	<servlet-class>com.controller.logoutcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cartcontroller</servlet-name>
  	<display-name>cartcontroller</display-name>
  	<description></description>
  	<servlet-class>com.cart.controller.cartcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>removecartcontroller</servlet-name>
  	<display-name>removecartcontroller</display-name>
  	<description></description>
  	<servlet-class>com.cart.controller.removecartcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addOldBook</servlet-name>
  	<display-name>addOldBook</display-name>
  	<description></description>
  	<servlet-class>com.controller.addOldBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>oldBookDelete</servlet-name>
  	<display-name>oldBookDelete</display-name>
  	<description></description>
  	<servlet-class>com.controller.oldBookDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfile</servlet-name>
  	<display-name>UpdateProfile</display-name>
  	<description></description>
  	<servlet-class>com.controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderBookController</servlet-name>
  	<display-name>OrderBookController</display-name>
  	<description></description>
  	<servlet-class>com.controller.OrderBookController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchBookController</servlet-name>
  	<display-name>searchBookController</display-name>
  	<description></description>
  	<servlet-class>com.controller.searchBookController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registercontroller</servlet-name>
  	<url-pattern>/registercontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Registercontroller</servlet-name>
  	<url-pattern>/Registercontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logincontroller</servlet-name>
  	<url-pattern>/logincontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookAdd</servlet-name>
  	<url-pattern>/BookAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editbookcontroller</servlet-name>
  	<url-pattern>/editbookcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletecontroller</servlet-name>
  	<url-pattern>/deletecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutcontroller</servlet-name>
  	<url-pattern>/logoutcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cartcontroller</servlet-name>
  	<url-pattern>/cartcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>removecartcontroller</servlet-name>
  	<url-pattern>/removecartcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addOldBook</servlet-name>
  	<url-pattern>/addOldBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>oldBookDelete</servlet-name>
  	<url-pattern>/oldBookDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfile</servlet-name>
  	<url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderBookController</servlet-name>
  	<url-pattern>/OrderBookController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>searchBookController</servlet-name>
  	<url-pattern>/searchBookController</url-pattern>
  </servlet-mapping>
</web-app>
